@mixin border-box() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#app, body {
 margin:10px;
 padding:0;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight: 300;
 font-size: 16px;
 background: #FFF;
}

a {
 color: lighten(#000, 60%);
 font-weight:400;
 &:hover {
  color: lighten(#000, 50%);
  text-decoration: underline;
 }
}

#recent-tracks-panel {
 overflow-y:scroll;
 height:300px;
}

.success {
 background: #1abc9c;
}

.fail {
 background: #c0392b;
}

.scrobble-msg {
 color:white;
 padding: 15px;
 margin: 15px 0;
 @include border-box();
}

.login-user {
 display: inline-block;
}

.log-out-btn {
 display: inline-block;
 margin-left: 10px;
}

h1 {
 color:#d51007;
}

.track {
  padding: 10px 0;
  border-bottom: 1px solid lighten(#000, 80%);
}

input {
 padding:16px;
 margin: 16px 0;
 font-size: 16px;
 @include border-box();
 border:1px solid lightgray;
 &:focus {
    outline:none;
    border:1px solid green;
 }
}
button, .button {
 border-radius:4px;
 background: #efefef;
 border:1px solid darken(#efefef, 30%);
 font-size:16px;
 padding:10px;
 margin-right:5px;
 margin-top:10px;
 cursor:pointer;
 outline:none;
 text-decoration:none;
 color:black;
 &:hover {
  background: darken(#efefef, 5%);
 }
}
.danger {
 background:red;
 color:white;
 border:1px solid darken(red, 30%);

 &:hover {
  background: darken(red, 5%);
 }
}

.track {
 label {
  font-weight:400;
  &:nth-child(3) { margin-left:10px;}
 }
}
